/*styling for each of the recipe sections*/
.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    padding-bottom: 10px;
    padding: 10px;
}

.image {
    border-radius: 20%;
    width: 100px;
    height: 100px;

}